.index_main{width:100%;
			   float:left;
			   }
.slide{width:100%;
	   float:left;
	   }	
	   
.best_menu{width:100%;
			   float:left;
			   margin-top:50px;
			   }	
.best_menu h3{text-align:center;}
.best_menu_wrap{width:90%;
				  	  margin:0 auto;}	
.best_menu ul{width:100%;
				  float:left;
				  background:#eee;}
.best_menu ul li{width:25%;
					float:left;
					text-align:center;}					  
				  		    
.best_review{width:100%;
			   float:left;
			   margin-top:50px;
			   }	 
.best_review h3{text-align:center;}
.best_review_wrap{width:90%;
				  	  margin:0 auto;}	
.best_review ul{width:100%;
				  float:left;
				  background:#eee;}
.best_review ul li{width:25%;
					float:left;
					text-align:center;}					  				   			     		   